In [1]:
import os

In [2]:
%pwd

'c:\\Users\\luficerg\\Documents\\git\\Kaggle-Competitions\\Bank Churn\\notebook_research'

In [3]:
os.chdir("../")

In [4]:
%pwd

'c:\\Users\\luficerg\\Documents\\git\\Kaggle-Competitions\\Bank Churn'

In [5]:
import pandas as pd

In [6]:
data = pd.read_csv("artifacts\data_ingestion\\train.csv")
data.head()

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Mem__no__Products,Balance_Salary_Ratio,Balance_Age_Ratio
0,15674932,Okwudilichukwu,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0,0.0,0.000000,0.000000
1,15749177,Okwudiliolisa,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0,2.0,0.000000,0.000000
2,15694510,Hsueh,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0,0.0,0.000000,0.000000
3,15741417,Kao,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0,1.0,1.760655,4378.898235
4,15766172,Chiemenam,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,0,2.0,0.000000,0.000000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175036 entries, 0 to 175035
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   CustomerId            175036 non-null  int64
 1   Surname               175036 non-null  object
 2   CreditScore           175036 non-null  int64
 3   Geography             175035 non-null  object
 4   Gender                175036 non-null  object
 5   Age                   175035 non-null  float64
 6   Tenure                175036 non-null  int64
 7   Balance               175036 non-null  float64
 8   NumOfProducts         175036 non-null  int64
 9   HasCrCard             175035 non-null  float64
 10  IsActiveMember        175035 non-null  float64
 11  EstimatedSalary       175036 non-null  float64
 12  Exited                175036 non-null  int64
 13  Mem__no__Products     175035 non-null  float64
 14  Balance_Salary_Ratio  175036 non-null  float64
 15  Balance_Age_Ratio     175035 non-null  float64
dtypes: float64(8), int64(5), object(3)
memory usage: 21.4+ MB

In [8]:
data.isnull().sum()

CustomerId              0
Surname                 0
CreditScore             0
Geography               1
Gender                  0
Age                     1
Tenure                  0
Balance                 0
NumOfProducts           0
HasCrCard               1
IsActiveMember          1
EstimatedSalary         0
Exited                  0
Mem__no__Products       1
Balance_Salary_Ratio    0
Balance_Age_Ratio       1
dtype: int64

In [9]:
from mlProject.constants import *
from mlProject.utils.common import read_yaml, create_directories

In [15]:
import os
from mlProject import logger

In [19]:
class DataValiadtion:
    def __init__(self, config: DataValidationConfig):
        self.config = config


    def validate_all_columns(self)-> bool:
        try:
            validation_status = None

            data = pd.read_csv(self.config.unzip_data_dir)
            all_cols = list(data.columns)

            all_schema = self.config.all_schema.keys()

            
            for col in all_cols:
                if col not in all_schema:
                    validation_status = False
                    with open(self.config.STATUS_FILE, 'w') as f:
                        f.write(f"Validation status: {validation_status}")
                else:
                    validation_status = True
                    with open(self.config.STATUS_FILE, 'w') as f:
                        f.write(f"Validation status: {validation_status}")

            return validation_status
        
        except Exception as e:
            raise e

In [22]:
try:
    config = ConfigurationManager()
    data_validation_config = config.get_data_validation_config()
    data_validation = DataValiadtion(config=data_validation_config)
    data_validation.validate_all_columns()
except Exception as e:
    raise e

[2023-07-11 10:19:18,638: INFO: common: yaml file: config\config.yaml loaded successfully]
[2023-07-11 10:19:18,640: INFO: common: yaml file: params.yaml loaded successfully]
[2023-07-11 10:19:18,644: INFO: common: yaml file: schema.yaml loaded successfully]
[2023-07-11 10:19:18,646: INFO: common: created directory at: artifacts]
[2023-07-11 10:19:18,647: INFO: common: created directory at: artifacts/data_validation]